/* About section stylings */

#about {
  @include flex(center, column);
  min-height: 30vh;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0195c7,
    #41cbeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0195c7,
    #41cbeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  p {
    font-size: 1.7rem;
    padding: 4rem;
    color: white;
  }
  text-align: center;
}
#about-text-photo {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0195c7,
    #41cbeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0195c7,
    #41cbeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4rem;
  min-height: 80vh;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  border-top: 2px solid black;
  position: relative;
}

.home-text {
  @include flex(center, column);
  margin: auto;
  text-align: justify;
  flex: 1 1 40rem;
  color: white;
  h3 {
    font-size: 2.5rem;
    align-self: center;
  }

  .fas {
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: #dab351;
  }

  li {
    font-size: 2rem;
    margin-left: 4rem;
    transform: translate(-200%);
  }

  h3 {
    padding: 2.8rem;
    padding-bottom: 2rem;
  }
}

.home-image {
  @include flex(center, row);
  flex: 1 1 60rem;

  img {
    margin-top: 1rem;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    position: relative;
    border-radius: 3%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    background: $background-color-yellow;
  }
}

.about-wrapper {
  width: 80%;
  margin: auto;
}

.about-motto-first,
.about-motto-second {
  opacity: 0;
}

details {
  transition: all 0.5s ease;
  flex-wrap: wrap;

  img {
    width: 50%;
    height: 50%;
    padding: 0.3rem;
    background: $background-color-yellow;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  }
}
summary {
  cursor: pointer;
  margin: 3rem;
  font-size: 2rem;
  transition: all 1s ease;
  color: white;
  background: $background-color-yellow;
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
}

details[open] summary {
  margin: 2.5rem;
}
