/* About section stylings */

#about-wrapper {
  @include flex(center, column);
  min-height: 50vh;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid black;
}

#about {
  @include flex(center, column);
  min-height: 30vh;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  p {
    font-size: 1.7rem;
    padding: 4rem;
    color: white;
  }
  text-align: center;
}
.about-text-photo {
  padding: 4rem;
  min-height: 100vh;
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap;

  p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.about-text {
  @include flex(center, column);
  margin: auto;
  text-align: justify;
  flex: 2 1 55rem;
  color: white;
  h3 {
    font-size: 2.5rem;
  }

  .fas {
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: rgb(218, 179, 81);
  }

  li {
    font-size: 2rem;
    transform: translate(-200%);
  }

  h3 {
    padding: 2.8rem;
    padding-bottom: 2rem;
  }
}

.about-image {
  @include flex(center, column);
  width: 100%;
  height: 100%;
  flex: 1 1 40rem;
  img {
    margin-top: 1rem;
    width: 70%;
    border-radius: 3%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(218, 179, 81, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(218, 179, 81, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(218, 179, 81, 0.75);
    background: transparent;
  }
}

.about-wrapper {
  width: 80%;
  margin: auto;
}

details {
  transition: all 0.5s ease;
  flex-wrap: wrap;
  p {
    text-align: left;
  }

  img {
    width: 50%;
    height: 50%;
    padding: 0.3rem;
    background: $background-color-yellow;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
    margin: 1rem;
  }
}
summary {
  cursor: pointer;
  margin: 3rem;
  font-size: 2rem;
  transition: all 1s ease;
  color: white;
  background: $background-color-yellow;
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
}

details[open] summary {
  margin: 2.5rem;
}
