/* GLOBAL STYLINGS  and VARIABLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

//MIXINS

@mixin flex($justify, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}

//VARIABLES
$background-color-main: rgb(0, 150, 199); // nav and footer color
$background-color-yellow: rgb(
  218,
  179,
  81
); // yellow color for headlines and important things
$background-gradient-old: #00b4db; /* fallback for old browsers */
$background-browsers1: -webkit-linear-gradient(
  to right,
  #a3e7fd,
  #00b4db
); /* Chrome 10-25, Safari 5.1-6 */
$background-browsers2: linear-gradient(
  to right,
  #a3e7fd,
  #00b4db
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* FONT SIZES  and decorations*/

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-family: "montserrat", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  color: white;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 2rem;
}

main {
  background: $background-color-main;
}
