/* GLOBAL STYLINGS  and VARIABLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

//MIXINS

@mixin flex($justify, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}

//VARIABLES

$background-color-main: rgb(0, 150, 199);

$background-color-yellow: #dab351;

/* FONT SIZES  and decorations*/

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-family: "pattaya", sans-serif;
}
h2 {
  font-size: 3rem;
  color: white;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 2rem;
}

main {
  background: $background-color-main;
}
