#landing {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("/images/landingpage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.landing-text {
  position: absolute;
  top: 50%;
  right: 50%;
  @include flex(center, column);
  text-align: center;
  transform: translate(50%, -50%);

  button {
    -webkit-box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
    padding: 1.5rem 3.5rem;
    margin: 2rem;
    background-color: $background-color-yellow;
    border-radius: 40px 40px 40px 40px;
    border: none;
    cursor: pointer;
    a {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
    }
  }
}

.session:hover {
  transition: all 0.5s ease;
  background: transparent;

  a {
    color: white;
  }
}

.motto {
  padding: 2rem;
  font-size: 3rem;
  border: none !important;
  box-shadow: none;
  border-radius: 40px 40px 40px 40px;
}

.landing-arrow {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  font-size: 4rem;
  color: $background-color-yellow;
  transform: translate(-50%);
  transition: 1s ease;
}
.landing-arrow:hover {
  color: white;
  scale: 1.2;
}

.social {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-250px, 0);
  z-index: 5;
}

.social a {
  color: #fff;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 5px;
  padding: 15px;
  width: 300px;
  text-align: right;
  border-radius: 50px;
  transition-property: transform;
  -webkit-box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
  transition: 1s ease;
}

.social a:hover {
  transform: translate(140px, 0);
}

.social i {
  margin-left: 10px;
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social a:hover {
  background: $background-color-main;
}

.social a:nth-child(1) i {
  color: $background-color-yellow;
}

.social a:nth-child(2) i {
  color: $background-color-yellow;
}

.social a:nth-child(3) i {
  color: transparent;
  color: $background-color-yellow;

  font-weight: 600;
  margin-right: 2px;
}
