/* All nav and header stylings. Including burger menu */

header {
  width: 100%;
  background: transparent;
  min-height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 100;
  @include flex(center, row);
  -webkit-box-shadow: 1px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    font-size: 1.9rem;
    padding: 1rem;
  }

  li a:hover {
    color: rgb(218, 216, 216);
  }

  #logo {
    padding: 1rem;
  }
}

.on-scroll {
  min-height: 8vh;
  .oferta {
    color: $background-color-yellow;
  }
  background-color: $background-color-main;

  transition: all 0.4s ease;

  a {
    color: white;
  }
}
