#oferta {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}
.ofert-text-top {
  margin-bottom: 10rem;
  opacity: 0;
}
.ofert-cards-wrapper {
  @include flex(center, row);
  flex-wrap: wrap;
}

.card {
  margin: 3rem;
  display: grid;
  grid-template-columns: 30rem;
  grid-template-rows: 21rem 21rem 10rem;
  grid-template-areas: "image" "text" "bottom";
  border-radius: 1.8rem;
  background: $background-color-main;
  color: white;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  text-align: center;
}
.card-image {
  grid-area: "image";
  background-image: url("/images/wsparciementalne.png");
  background-size: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.card-text {
  grid-area: "text";
  margin: 2.5rem;
  .date {
    color: $background-color-yellow;
    font-size: 1.9rem;
  }

  p {
    font-size: 1.3rem;
    text-align: left;
  }
  h2 {
    font-size: 2rem;
    margin: 1rem;
    color: $background-color-yellow;
  }
}

.card-bottom {
  grid-area: "bottom";
}

.card2 .card-image {
  grid-area: "image";
  background: url("/images/autohipnoza.png");
  background-size: cover;
}

.card3 .card-image {
  grid-area: "image";
  background: url("/images/glebokamedytacja.png");
  background-size: cover;
  background-position: center;
}

.card:hover {
  scale: 1.1;
  transition: 0.1  s all ease-in-out;
}
