.success {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;

  background: $background-gradient-old;
  background: $background-browsers1;
  background: $background-browsers2;
}
a {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-transform: none;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
button {
  padding: 1rem 3rem;
  background: transparent;
  border: 1px solid black;
}
