/* About section stylings */

#about {
  min-height: 100vh;
  background: rgb(41, 40, 40);
  color: white;
  p {
    font-size: 1.7rem;
    padding: 2rem;
  }
}

.about-wrapper {
  width: 80%;
  margin: auto;
}
