/* About section stylings */

#about {
  @include flex(center, column);
  min-height: 30vh;
  background: linear-gradient(to right, #746f71 0%, #dac3c8 100%);
  color: white;
  p {
    font-size: 1.7rem;
    padding: 4rem;
    color: black;
  }
  text-align: center;
}
#about-text-photo {
  background: linear-gradient(to right, #746f71 0%, #dac3c8 100%);
  padding: 4rem;
  min-height: 80vh;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.home-text {
  @include flex(center, column);
  margin: auto;
  text-align: justify;
  flex: 1 1 40rem;
  color: black;
  h3 {
    font-size: 2.5rem;
    align-self: center;
  }

  .fas {
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: $background-color-yellow;
  }

  li {
    font-size: 2rem;
    margin-left: 4rem;
    transform: translate(-200%);
  }

  h3 {
    padding: 2.8rem;
    padding-bottom: 2rem;
  }
}

.home-image {
  @include flex(center, row);
  flex: 1 1 60rem;

  img {
    margin-top: 1rem;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    position: relative;
    border-radius: 3%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    background: $background-color-main;
  }
}

.about-wrapper {
  width: 80%;
  margin: auto;
}

details {
  transition: all 0.5s ease;
}
summary {
  margin: 3rem;
  font-size: 2rem;
  transition: all 1s ease;
  color: $background-color-yellow;
  background: rgb(43, 43, 43);
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
}

details[open] summary {
  margin: 2.5rem;
}
