// Footer stylings

footer {
  @include flex(center, column);
  text-align: center;
  min-height: 13vh;
  background: rgb(46, 45, 45);
  color: white;
  p {
    font-size: 1rem;
  }
}

.love-what-youdo a {
  color: $background-color-yellow;
}

.footer-socials-links {
  ul {
    @include flex(center, row);
    li {
      padding: 0.5rem;
    }
  }

  a {
    color: $background-color-yellow;
  }
}
