/* All nav and header stylings. Including burger menu */

header {
  width: 100%;
  background: transparent;
  border: 2px solid black;
  min-height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 100;
}
nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    font-size: 1.7rem;
    padding: 1rem;
  }
  #logo {
    padding: 1rem;
  }
}

.on-scroll {
  .oferta {
    color: $background-color-yellow;
  }
  background-color: $background-color-main;

  transition: all 0.5s ease;

  a {
    color: white;
  }
}
