#oferta {
  background: $background-color-yellow;
  max-width: 100vw;
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#oferta img {
  width: 100%;
  height: 100%;
}

.box {
  width: 50%;
  height: 50%;
  padding: 2rem;
}
