/* GLOBAL STYLINGS  and VARIABLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

/* FONT SIZES  and decorations*/
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-family: "pattaya", sans-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

/* All nav and header stylings. Including burger menu */
header {
  width: 100%;
  background: transparent;
  border: 2px solid black;
  min-height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 100;
}

nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  font-size: 1.7rem;
  padding: 1rem;
}

nav #logo {
  padding: 1rem;
}

.on-scroll {
  background-color: #2e2d2d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.on-scroll a {
  color: white;
}

/* Home section stylings */
#home {
  background: #edc699;
  min-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.home-text .fas {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.home-text li {
  font-size: 2rem;
}

.home-text h3 {
  padding: 2.5rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.home-text li {
  margin-left: 4rem;
}

.home-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.home-image img {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.clip-path {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ecebeb;
  z-index: -100;
}

.name {
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About section stylings */
#about {
  min-height: 100vh;
  background: #2e2d2d;
  color: white;
}

#about p {
  font-size: 1.7rem;
  padding: 2rem;
}

.about-wrapper {
  width: 80%;
  margin: auto;
}

/* RESPONSIVE MATTERS */
@media screen and (max-width: 1100px) {
  .on-scroll {
    background: transparent;
  }
  header {
    border: none;
    position: relative;
  }
  header a {
    color: white;
  }
  .burger {
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 100;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #000000;
    display: block;
    margin: 0.5rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    background: #d66d75;
    z-index: 1;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul a {
    font-size: 2.5rem;
  }
  .active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .toggle .line-1 {
    -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
            transform: rotateZ(-405deg) translate(-8px, 6px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background: white;
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
            transform: rotateZ(405deg) translate(-8px, -6px);
    background: white;
  }
  .landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
  }
  .landing-text h2 {
    background: #2e2d2d;
  }
}

@media screen and (max-width: 1100px) {
  .landing-text h2 {
    color: white;
    border: 1px solid black;
  }
}

#oferta {
  background: #edc699;
  max-width: 100vw;
  min-height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#oferta img {
  width: 100%;
  height: 100%;
}

.box {
  width: 50%;
  height: 50%;
  padding: 2rem;
}

#landing {
  max-width: 100vw;
  min-height: 100vh;
  background: url(/pawel/images/landingpage.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.landing-text {
  position: absolute;
  top: 15rem;
  right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.landing-text button {
  -webkit-box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 71px 0px rgba(0, 0, 0, 0.75);
  padding: 1.5rem 3rem;
  margin: 2rem;
  background-color: #2e2d2d;
  border: 1px solid black;
  cursor: pointer;
}

.landing-text button a {
  color: white;
}

.session:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f6e4c5;
}

.session:hover a {
  color: #353434;
}

.motto {
  padding: 2rem;
  font-size: 3rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%);
          transform: translate3d(-50%, -50%);
  cursor: crosshair;
}

#kontakt {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #d1cdcd;
}

form {
  margin: auto;
  width: 50rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid black;
  border-radius: 4%;
  border-radius: 60px;
  background: rgba(34, 32, 32, 0.5);
}

input {
  padding: 1rem 4rem;
  margin: 0.5rem;
}

footer {
  text-align: center;
  min-height: 10vh;
  background: #2e2d2d;
  color: white;
}

footer p {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */